.dialog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60%;

}

